
@model IEnumerable<Model.ProcExcute.GetInfoProduct>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Sản phẩm</h1>

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions float-right">
                        <div class="dropdown show">
                            <a href="#" data-toggle="dropdown" data-display="static">
                                <i class="align-middle" data-feather="more-horizontal"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <h5 class="card-title mb-0">Sản phẩm</h5>
                </div>
                <div class="card-body">
                    <table id="datatables-clients" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID sản phẩm</th>
                                <th>ID thông tin</th>
                                <th>Sản phẩm</th>
                                <th>Nhà cung cấp</th>
                                <th>Tổng nhập</th>
                                <th>Tổng bán</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Model.ProcExcute.GetInfoProduct item in Model)
                            {
                            <tr id="row_@item.sp_id">
                                <td>@item.sp_id.ToString()</td>
                                <td>@item.tt_id.ToString()</td>
                                <td>@item.sp_ten @item.tt_BoNho @item.tt_MauSac</td>
                                <td>@item.ncc_Name.ToString()</td>
                                <td>@item.TongNhap.ToString()</td>
                                <td>@item.TongBan.ToString()</td>
                                <th class="action-btn">
                                    <button type="button" class="btn btn-primary edit-btn"><a href="/Admin/AdminListProduct/Edit/@item.tt_id" style="color: unset;">Thông tin chi tiết</a></button>
                                </th>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //$(".edit-btn").click(function () {
    //    console.log("edit lciked")
    //    $(".edit-form").show("fast");
    //});
    //$(".close-btn").click(function (e) {
    //    e.preventDefault();
    //$(".edit-form").hide("fast");
    //});
    $(function () {
        // Datatables clients
        $("#datatables-clients").DataTable({
            responsive: true,
            order: [
                [1, "asc"]
            ]
        });
    });
</script>
